$up-green: #1db489;
$down_red: #dc414c ;

$facebook: 	#198ff5;
$instagram: linear-gradient(#fdc468, #df4996 );
$twitter:	#1ca0f2 ;
$youtube:	#c4032a ;

$dt-toggle: linear-gradient( #378fe6, #3eda82);
$wt-toggle: #aeb3cb;

$dt-bg: #1e202a;
$dt-top-bg: 	#1f212e;
$dt-card-bg: #252a41;
$dt-blue-text: 	#8b97c6;
$dt-white-text: #fff;

$wt-bg: #fff;
$wt-top-bg: #f5f7ff;
$wt-card-bg: #f0f2fa;
$wt-blue-text: 	#63687e;
$wt-text: 	#1e202a;


* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    height: 40%;
    border-radius: 4rem;
  }
}

main {
  width: 100%;
  height: 100%;
}