.primary-text {
  &.dark-text {
    color: $dt-white-text;
  }

  &.white-text {
    color: $wt-text;
  }
}
.secondary-text {
  &.dark-text {
    color: $dt-blue-text;
  }

  &.white-text {
    color: $wt-blue-text;
  }
}


.dark {
  background: $dt-bg;

  &::before {
    background-color: $dt-top-bg;
  }
}

.white {
  background: $wt-bg;

  &::before {
    background-color: $wt-top-bg;
  }
}

.d-card {
  background: $dt-card-bg;
}
.w-card {
  background: $wt-card-bg;
}
