.today-title {
  margin: 50px 0 30px;
}


.today-card {
  padding: 25px 30px;
  border-radius: .5rem;

  & .info-name {
    @include d-flex(center, space-between);
    margin-bottom: 30px;

  }

  & .info {
    @include d-flex(flex-end, space-between);

    & h3 {
      font-size: 200%;
    }
    
    & .result {
      @include d-flex(center, flex-end);

      & img {
        max-height: 5px;
        margin-right: 5px;
      }

      & .more-followers {
        color: $up-green;
      }

      & .less-followers {
        color: $down-red;
      }
    }
  }
}